.cart {
    width: 40vw;
    height: calc(100vh - 75px);
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
}

.cart__container {
    overflow: auto;
}

.cart__title {
    text-align: center;
    margin: 20px 0;
}

.cart__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.cart__item__name {
    text-transform: capitalize;
    
}

.cart__container__total {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid;
}

.cart__container__checkout {
    background-color: #1894C5;
    color: #FFF;
    border: none;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}